/**
 * @name Twitter Dim Mode
 * @description A theme based in Dim mode from Twitter
 * @author zuzumi#8097
 * @authorId 403725623161257984
 * @website https://github.com/zuzumi-f/Twiter-Theme-BD
 * @source https://zuzumi-f.github.io/Twiter-Theme-BD/base.css
 * @version AutoUpdate
*/

@import url("https://zuzumi-f.github.io/Twiter-Theme-BD/base.css");

/*----------------------------------------------------
                anything else down here
------------------------------------------------------*/
